p{
    animation-duration: 3s;
    animation-name: slidein;
}

@keyframes slidein{
    from{
        margin-left: 100%;
        width: 300%;
        background: rgb(204, 182, 182);
    }

    to{
        margin-left: 0%;
        width: 100%;
        background: rgb(165, 86, 86);
    }
}

table, tr, th,td {
    border: 1px solid rgb(37, 24, 221);
}

#colorespecial{
    background: pink;
}

td{
    background: pink;
}

img {
    width: 300px;
    height: 200px;   
}

textarea#Comentarios {
    border-radius: 10px;
    color: rgb(17, 33, 180);
    padding: 14px;
}

.btn {
    width: 60px;
    border: solid 1px;
    height: 22px;
    padding-top: 5px;
    text-align: center;
    font-size: 14px;
    color: rgb(240, 236, 33);
    background: #1900ff;
    font-style: oblique;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    opacity: 0.7;
} 

.btn:hover{
    background: blueviolet;
    width: 80px;
    height: 28px;
}

input.txtcaja {
    border: solid 1px;
    border-radius: 6px;
    font-size: 12px;
    background: honeydew;
}

input.txtcaja:hover {
    transition: all 0.3s ease-in-out;
    background: rgb(224, 243, 170);
    color: blue;
    
}